.input-search {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 38.57vw;
}

.search {
    background-color: rgba(71, 71, 71, .04);
    border: none;
    border-radius: 8px;
    height: 100%;
    margin-left: 1.8vw;
    padding: 16px 17px 16px 24px;
    width: 32.97vw;
}

.icon-search {
    color: #666;
    font-size: 20px;
    position: relative;
    right: 32px;
    top: 7.78px;
}