.melhores-ofertas {
    /* font-family: 'Inter'; */
    font-weight: 500;
    font-size: 16px;
    color: #f6aa1c;
}

.queima {
    font-size: 4rem;
    font-weight: 800;
    /* max-width: 8em; */
}

.descricao {
    /* font-family: 'Inter'; */
    font-size: 18px;
    color: #474747;
}